/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
  @apply mx-1 underline;
}
.navbar a{
  @apply text-white hover:text-secondary-100;
}

.bgHome{
  background-image: linear-gradient( 135deg, #5EFCE8 5%, #736EFE 100%);
}

.foot{
  @apply flex items-center justify-center m-1;
}

.foot a{
  @apply text-white hover:text-secondary-100;
}

.social{
  @apply flex items-center justify-center m-1 mx-3;
}
.social i{
  @apply text-white hover:text-secondary-100;
}
.btnDrug{
  background-color: #5EFCE8;
  color: #102E4A;
  padding: 5px;
  position: relative;
  left: 50%;
  margin-left: auto;
  transform: translateX(-50%);
  bottom: 10px; 
  animation: moveIn 1000ms alternate infinite;

}

@keyframes moveIn {
  0%{
    background-color: #55C1FF;
    color: #102E4A;
  }
  100%{
    background-color: #102E4A;
    color: #55C1FF;
  }
  
}